* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url('../assets/qsu_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333;
  }x
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(4px);
    z-index: -1;
}
  .container {
    text-align: center;
    padding: 2rem 2rem;
    background: rgba(255, 255, 255, 0.616);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid #ddd;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #000000;
    color: #bb0202;
  }


  